@import url('https://fonts.googleapis.com/css2?family=Allura&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --cor-fundo:#efe8df;
    --cor-branco:#ffffff;
    --cor-primaria:#5a1f28;
    --cor-secundaria:#82685f;
    --cor-borda:#d7c9bc;
    --cor-hover:#f8f3ee;
    --cor-texto:#444;
    --cor-texto-suave:#7b6257;

    --cor-creme:#fffaf5;

    --fonte-titulo:"Allura", cursive;
    --fonte-texto:"Poppins", sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:var(--cor-fundo);
    color:var(--cor-primaria);
    font-family:var(--fonte-texto);
}

.container{
    width:min(1000px,92%);
    margin:auto;
}

header{

    padding:60px 20px 40px;

    text-align:center;
}

header::after{

    content:"";

    display:block;

    width:120px;

    height:2px;

    margin:25px auto 0;

    background:var(--cor-borda);
}

.voltar{

    display:inline-block;

    margin-bottom:30px;

    text-decoration:none;

    color:var(--cor-primaria);

    font-weight:500;

    transition:.3s;
}

.voltar:hover{

    opacity:.7;
}

.voltar:focus-visible{

    outline:2px solid var(--cor-primaria);

    outline-offset:4px;
}

header h1{

    font-family:var(--fonte-titulo);

    font-size:clamp(4rem,8vw,7rem);

    font-weight:400;
}

.subtitulo{

    margin-top:10px;

    color:var(--cor-secundaria);

    font-size:1.1rem;
}

footer{

    margin-top:100px;

    padding:35px 20px;

    text-align:center;

    color: var(--cor-texto-suave);

    font-size:.95rem;

    border-top:1px solid var(--cor-borda);
}

::selection{

    background:#5a1f28;

    color:white;
}